h2{
    font-family: 'Catamaran', 'sans-serif';
}

h3{
    font-family: 'Catamaran', 'sans-serif';
}
h5{
    font-family: 'Trirong', 'sans-serif';
}
p{
    font-family: 'Inder', 'sans-serif';
}
ul, li{
    font-family: 'Inder', 'sans-serif';
}
